@import "../components/bootstrap/scss/bootstrap";

@font-face {
    font-family: LATO-REGULAR;
    src: url(../fonts/LATO-REGULAR.ttf);
}

@font-face{
	font-family: WeekdaysRomanSlant;
	src: url(../fonts/WeekdaysRomanSlant.ttf);
}

@font-face{
	font-family: just-tell-me-what-regular;
	src: url(../fonts/just-tell-me-what-regular.otf);
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*img {
	max-width: 100%;
}*/

body{
	font-size: 16px;
	font-family: LATO-REGULAR !important;
	//background-color: #efefef;
}

/*Header - top*/

.header-top{	
	background-color: #F6AA5B;
	color: #fff;
}

.header-top-2{
	display: none !important;
}

.header-social{
	display: flex;
	justify-content: center;
	align-items: center;
	>p,a{
		font-size: 23px;
		color: #fff;
		>i{
			margin-top: 15px;
			padding: 0 5px;
			&:hover{
				color: #c26d14;
			}
		}
	}
}

.header-contato{
	display: flex;
	justify-content: center;
	align-items: center;
	>p{
		 padding-left: 35px;
    	padding-top: 8px;
	}
}

/* Header Menu */
.header{
	border-bottom: 3px solid #f49837;
}

.header-dir{
	background: url(../img/back-dire.png) no-repeat;
	background-position: center;
}

.header-esq{
	background: url(../img/back-esqu.png) no-repeat;
	background-position: center;
}

.logo img{
	padding: 66px 113px;
}

.header-menu {
	padding:14px 126px;
}

.header-menu .menu{
	padding-top: 13px;
}

.header-menu nav{
	font-size: 18px;
    font-weight: bold;
    color: #8b9292 !important;
}

.dropdown-menu {
    top: 55% !important;
}

.header-menu .dropdown-item{
	font-size: 20px;	
}

.frase{
	text-align: center;
    padding-left: 90px;
    font-size: 35px;
    margin-top: 51px;
    font-family: just-tell-me-what-regular !important;
    text-transform: uppercase;
}

.header-menu .gacc:hover{
	background: url(../img/hover-gacc.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}

.header-menu .atuacao:hover{
	background: url(../img/hover-atuamos.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}

.header-menu .tratamentos:hover{
	background: url(../img/hover-diagnostico.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}

.header-menu .ajuda:hover{
	background: url(../img/hover-ajuda.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}


.header-menu .parceiros:hover{
	background: url(../img/hover-parceiro.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}

.header-menu .contato:hover{
	background: url(../img/hover-contato.png) no-repeat;
	background-position: bottom;
	padding-bottom: 9px;
}
/* Default */

.default{
	margin: 50px 0;
}

.margin-default{
	margin-top: 60px;
}

.title{
	font-family: LATO-REGULAR !important;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}

.history .title-page{
	font-weight: bold;
	color: #008ccc;
}

.transporte .title-page{
	font-weight: bold;
	color: #f49837;
}

.diagnosticos .title-page{
	font-weight: bold;
	color: #96be00;
}

.ajuda .title-page{
	font-weight: bold;
	color: #9c73bf;
}

.diagnosticos h3,
.ajuda h3{
	font-size: 20px;
	color: #828282;
}

.history,
.transporte,
.diagnosticos,
.ajuda,
.contato{
	margin-bottom: 40px;
}

.history p,
.transporte p,
.diagnosticos p,
.ajuda p,
.contato p{
	text-align: justify;
}

.border-news{
	border-top: 3px solid #f49837;
    width: 225px;
    margin-top: -11px;
}

.title-blog{
	font-family: LATO-REGULAR !important;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}

.border-blog{
	border-top: 3px solid #96be00;
    width: 92px;
    margin-top: -11px;
}

.title-social{
	font-family: LATO-REGULAR !important;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}

.border-social{
	border-top: 3px solid #008ccc;
    width: 183px;
    margin-top: -11px;
}

.news .card-body a{
	text-decoration: none;   
}

.news .btns {
	display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.news .btn-default{
	background-color: #f49837;
    color: #fff;
    padding: 3px 18px;
    border-radius: 15px;
    &:hover{
    	opacity: 0.8;
    }
}

.blog{
	padding: 10px 0;
}

/*.blog a{
	color: #000;
}*/

.btns{
	display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.btn-blog {
	background-color: #96be00;
    color: #fff;
    padding: 3px 18px;
    border-radius: 15px;
    margin: 5px 0;
    &:hover{
    	opacity: 0.8;
    	color: #fff;
    }
}

.btn-card {
    border-radius: 50px;
    color: #fff !important;
    background-color: #96be00;
    border-color: #96be00;
    padding: 2px 20px;
    margin: 10px 0;
}


/* Video */

.video{
	background-color: #9859CD;
	padding: 20px;
    margin-bottom: 30px;
}

.video h3{
	color: #fff;
	font-family: LATO-REGULAR !important;
    font-size: 23px;
    text-transform: uppercase;
}


.media{
	display: flex;
    justify-content: center;
    padding: 30px;
}

.media iframe{
	border: 3px solid #e2e2e2;
	border-radius: 5px;
}

/* Galeria */

.gallery img{
	padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 3px;
}

.parceiros-gallery img{
	padding: 5px !important;   
    margin: 5px !important;
}

/* Saude */

.saude .img-thumbnail{
	margin: 6px 0;
}

/* Empresas Parceira */

.btn-ajuda {
	background-color: #9c73bf;
	color: #fff;
	&:hover{
		color: #fff;
		opacity: 0.8;
	}
}

.ajuda i{
	color: #9c73bf;
}

/* Doação */

.text-message{
	text-align: center;
	margin: 30px 0;
}

.card-doacao{
	display: flex;
	align-items: center;
	padding: 0 15px;
	>p{
		font-weight: bold;
		font-size: 19px;
    	padding-top: 25px;
	}
}

.card-doacao .btn-doacao{
	border: 3px solid #9c73bf;
	border-radius: 30px;
	background-color: #fff !important;
	color: #9c73bf !important;
	margin: 0 10px;
	padding: 12px 60px;	
	/*&:active{
		background-color: #9c73bf !important;
		color: #fff !important;
	}*/
}

.doacao-valor .card{
	background-color: #fff;
	padding: 0 30px;
	margin: 20px 0;
}

.doacao-valor .card-body h4{
	font-weight: bold;
	text-align: center;
}

.doacao-valor .card-body .mensal{
	font-size: 12px;
	text-align: center;
}

.doacao-valor .divider{
	border: 0.5px solid #ccc;
    margin-bottom: 10px;

}

.doacao-valor .btn-doar{	
    border-radius: 30px;
    background-color: #9c73bf !important;
    color: #fff !important;
    margin: 10px 0px;
    padding: 4px 42px;
    &:hover{
    	opacity: 0.8;
    }
}

.doacao-valor ::-webkit-input-placeholder{
	font-size: 14px;
}

/* Contato */

.contato .title-page{
	font-weight: bold;
	color: #666666;
}

.contato-info{
	background-color: #ABABAB;
	color: #fff;
	padding: 35px 20px;
}

.contato-info iframe{
	border: 5px solid #fff !important;
	border-radius: 5px;
	margin-top: 20px;
}

.btn-contato {
	background-color: #666666;
	color: #fff;
	&:hover{
		color: #fff;
		opacity: 0.8;
	}
}


/* Footer */

.footer{
	background-color: #fff;
	color: #fff;
}

.doacao{
	background-color: #9859CD;
	color: #fff;
	font-size: 18px;
	padding: 20px 0;
}

.btn-doacao{
	background-color: #f49837;
	color: #fff;
	&:hover{
		color: #fff;
	}
}

.footer-menu{
	margin: 40px 0;
	padding: 20px 0;
}

.footer-menu p{
	font-size: 15px;
	font-family: LATO-REGULAR !important;
	padding: 7px;
}

.footer-title {
	padding-bottom: 15px;
    margin-left: 50px;
    color: #f49837;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-footer{
	font-size: 15px;
	padding: 0;
	margin-left: 50px;
	font-size: 17px;
	color: #000;
	&:hover{
		color: #f49837;
	}
}

.footer-contact{
	margin-left: 13px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {	
	.blog-card{
		height: auto !important;
	}

	.blog img{
		width: 100px;
	}

	.contato-info{
		margin: 20px 0;
	}

	.contato-info iframe{
		width: 331px;
    	height: auto;    	
	}

	.footer-menu iframe{
		width: 331px;
    	height: auto;
    	padding: 0 10px;
	}

	.footer-menu .localizacao{
		margin-left: 49px !important;
		margin-top: 20px;
	}

	.footer-menu .fale-conosco{
		margin-top: 20px;
	}

}